<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="droid.nir.testapp1"
    android:versionCode="5"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:name=".Bonjour"
        android:allowBackup="true"
        android:icon="@drawable/cc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyAZPSCWSozbghbsAS5AxLXuzmJI2yBjYzA" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cc" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/tprimary" />

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".Add_Pending"
            android:label="@string/title_activity_add__pending"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Pending">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity2Activity"
            android:label="@string/title_activity_main_activity2" />

        <activity
            android:name=".Add_Event2"
            android:label="@string/title_activity_add__event2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.MainActivity" />
        </activity>
        <activity
            android:name="droid.nir.alarmManager.AlaramReceiver2"
            android:label="@string/title_activity_alaram_receiver2" />
        <activity
            android:name=".Add_Todo_list"
            android:label="@string/title_activity_add__todo_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.MainActivity" />
        </activity>

        <service
            android:name="droid.nir.alarmManager.CheckForToday"
            android:enabled="true" />
        <service
            android:name="droid.nir.alarmManager.DismissNotification"
            android:enabled="true" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="droid.nir.alarmManager.NotificationCreater">
            <intent-filter>
                <action android:name="nir.droid.NEWNOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".floating_trials"
            android:label="@string/title_activity_floating_trials" />

        <activity
            android:name=".CustomDate"
            android:label="@string/title_activity_custom_date"
            android:parentActivityName=".noveu.Home.Home"
            android:theme="@style/AppTheme.Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Home.Home" />
        </activity>
        <activity
            android:name=".ShowList"
            android:label="@string/title_activity_show_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.MainActivity" />
        </activity>
        <activity
            android:name=".ShowEvent"
            android:label="@string/title_activity_show_event"
            android:parentActivityName=".AllEvents"
            android:theme="@style/AppTheme.Event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.AllEvents" />
        </activity>
        <activity
            android:name=".AllDecisions"
            android:label="@string/title_activity_all_decisions"
            android:theme="@style/AppTheme.Pending.ToolBar" />
        <activity
            android:name=".AllEvents"
            android:label="@string/title_activity_all_events"
            android:theme="@style/AppTheme.Event.ToolBar" />
        <activity
            android:name=".AllLists"
            android:label="@string/title_activity_all_lists"
            android:theme="@style/AppTheme.Toolbar3" />
        <activity
            android:name=".ShowDecision"
            android:label="@string/title_activity_show_decision"
            android:parentActivityName=".AllDecisions"
            android:theme="@style/AppTheme.Pending">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.AllDecisions" />
        </activity>
        <activity
            android:name=".AllRemainders"
            android:label="@string/title_activity_all_remainders"
            android:theme="@style/AppTheme.Toolbar4" />


        <activity
            android:name=".ShowRemainder"
            android:label="@string/title_activity_show_remainder"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.MainActivity" />
        </activity>

        <activity
            android:name="droid.nir.defcon3.help_main"
            android:label="@string/title_activity_help_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar" />
        <activity
            android:name=".todolist.All_list"
            android:label="@string/title_activity_all_list"
            android:theme="@style/AppTheme.Toolbar3" />
        <activity
            android:name=".noveu.Home.Home"
            android:theme="@style/AppTheme.Task.ToolBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".noveu.Tasks.Add_minimal"
            android:label="@string/title_activity_add_minimal"
            android:parentActivityName=".noveu.Home.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Settings"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Home.Home" />
        </activity>
        <activity
            android:name=".noveu.Tasks.Add_Expand"
            android:label="@string/title_activity_add__expand"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Task.ToolBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".noveu.Tasks.Add_Reminder"
            android:label="@string/title_activity_add__reminder"
            android:theme="@style/AppTheme.Task.ToolBar" />

        <provider
            android:name=".noveu.dB.DBProvider"
            android:authorities="droid.nir.testapp1.noveu.dbprovider" />

        <activity
            android:name=".noveu.Tasks.Add_SubTasks"
            android:label="@string/title_activity_add__sub_tasks"
            android:parentActivityName=".noveu.Tasks.Add_Expand"
            android:theme="@style/AppTheme.Task.ToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Tasks.Add_Expand" />
        </activity>
        <activity
            android:name=".noveu.Tasks.Add_Notes"
            android:label="@string/title_activity_add__notes"
            android:parentActivityName=".noveu.Tasks.Add_Expand"
            android:theme="@style/AppTheme.Task.ToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Tasks.Add_Expand" />
        </activity>
        <activity
            android:name=".noveu.NavDrw.HomeNav"
            android:label="@string/title_activity_home_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noveu.Projects.ProjectManager"
            android:label="@string/title_activity_project_manager"
            android:theme="@style/AppTheme.Task.ToolBar" />
        <activity
            android:name=".noveu.Projects.ProjectTask"
            android:label="@string/title_activity_project_task"
            android:parentActivityName=".noveu.Projects.ProjectManager"
            android:theme="@style/AppTheme.Task.ToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Projects.ProjectManager" />
        </activity>
        <activity
            android:name=".noveu.bonjoursettings.BonjourSettings"
            android:label="@string/title_activity_bonjour_settings"
            android:parentActivityName=".noveu.Home.Home"
            android:theme="@style/AppTheme.Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Home.Home" />
        </activity>

        <service
            android:name=".noveu.sync.TrialService"
            android:exported="false" />
        <service
            android:name=".noveu.sync.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".noveu.sync.receivers.TimeChange"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".noveu.sync.services.TaskChangeService"
            android:exported="false" />

        <receiver
            android:name=".noveu.sync.receivers.DbChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="droid.nir.testapp1.intent.TASK_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="droid.nir.testapp1.intent.TASK_DELETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="droid.nir.testapp1.intent.TASK_INSERT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".noveu.sync.services.NotifyService"
            android:exported="false" />
        <service
            android:name=".noveu.sync.services.PlayBackService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".noveu.notifications.NotificationActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".noveu.Tasks.Add_Reminder_new"
            android:label="@string/title_activity_add__reminder_new"
            android:theme="@style/AppTheme.Task.ToolBar" />

        <service
            android:name=".noveu.sync.services.DailySyncService"
            android:exported="false" />
        <service
            android:name=".noveu.sync.services.ShareService"
            android:exported="false" />
        <service
            android:name=".noveu.sync.services.NotificationResponseService"
            android:exported="false" />

        <activity
            android:name=".noveu.Tasks.show.Show_Expand"
            android:label="@string/title_activity_show__expand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noveu.welcome.about.About"
            android:theme="@style/AppTheme.About.ToolBar" />
        <activity
            android:name=".noveu.welcome.Version"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.About" />
        <activity
            android:name=".noveu.welcome.help.Help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.welcome.help.TaskHelp"
            android:label="@string/title_activity_task_help"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.welcome.help.PendingHelp"
            android:label="@string/title_activity_pending_help"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.welcome.help.EventHelp"
            android:label="@string/title_activity_event_help"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.welcome.help.LabelHelp"
            android:label="@string/title_activity_label_help"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.Events.Add_Event"
            android:label="@string/title_activity_add__event2"
            android:parentActivityName=".noveu.Home.AllEvents"
            android:theme="@style/AppTheme.Event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="droid.nir.testapp1.noveu.Home.AllEvents" />
        </activity>
        <activity
            android:name=".noveu.welcome.auth.SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.Help.ToolBar" />
        <activity
            android:name=".noveu.Home.AllEvents"
            android:label="@string/title_activity_all_events"
            android:theme="@style/AppTheme.Event.ToolBar" />

        <service
            android:name=".noveu.sync.fcm.BonjourFCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".noveu.sync.fcm.BonjourFCMIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>

        </service>
    </application>

</manifest>